html,
body {
  padding: 0 !important;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-select-dropdown{
  border-radius: 0 !important;
  z-index: 9999;
}
.header2 .ant-select-selection-item{
  color: #000 !important;
}

.ant-select-item-option-selected{
  background: none !important;
  color: #FE152B !important;
}


.ant-modal-body{
  padding: 0;
  border-radius: 10px !important;
}

.ant-modal-wrap {
position: relative;
z-index: 9999 !important;
background-color: rgba(0, 0, 0, 0.4);
}

.ant-modal-footer {
display: none;
}

.ant-modal-close-x span{
    border: 2px solid #D1D1D1;
    padding: 3px;
    border-radius: 50%;
}
.ant-modal-close-x span svg{
    color: #D1D1D1;
}

.ant-modal-content{
  border-radius: 0 !important;
}




@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}



@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-Light.woff2') format('woff2'),
      url('./fonts/Jost-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-MediumItalic.woff2') format('woff2'),
      url('./fonts/Jost-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-Italic.woff2') format('woff2'),
      url('./fonts/Jost-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-ExtraBold.woff2') format('woff2'),
      url('./fonts/Jost-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-Medium.woff2') format('woff2'),
      url('./fonts/Jost-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-ExtraBoldItalic.woff2') format('woff2'),
      url('./fonts/Jost-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-LightItalic.woff2') format('woff2'),
      url('./fonts/Jost-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-SemiBold.woff2') format('woff2'),
      url('./fonts/Jost-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-Black.woff2') format('woff2'),
      url('./fonts/Jost-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-Regular.woff2') format('woff2'),
      url('./fonts/Jost-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-SemiBoldItalic.woff2') format('woff2'),
      url('./fonts/Jost-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-BlackItalic.woff2') format('woff2'),
      url('./fonts/Jost-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-Bold.woff2') format('woff2'),
      url('./fonts/Jost-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-BoldItalic.woff2') format('woff2'),
      url('./fonts/Jost-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Italic.woff2') format('woff2'),
      url('./fonts/Montserrat-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.woff2') format('woff2'),
      url('./fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-MediumItalic.woff2') format('woff2'),
      url('./fonts/Montserrat-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-LightItalic.woff2') format('woff2'),
      url('./fonts/Montserrat-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
      url('./fonts/Montserrat-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Light.woff2') format('woff2'),
      url('./fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Medium.woff2') format('woff2'),
      url('./fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
      url('./fonts/Montserrat-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-SemiBold.woff2') format('woff2'),
      url('./fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Thin.woff2') format('woff2'),
      url('./fonts/Montserrat-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-BlackItalic.woff2') format('woff2'),
      url('./fonts/Montserrat-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-ThinItalic.woff2') format('woff2'),
      url('./fonts/Montserrat-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Black.woff2') format('woff2'),
      url('./fonts/Montserrat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-ExtraBold.woff2') format('woff2'),
      url('./fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Bold.woff2') format('woff2'),
      url('./fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-BoldItalic.woff2') format('woff2'),
      url('./fonts/Montserrat-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-ExtraLight.woff2') format('woff2'),
      url('./fonts/Montserrat-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
      url('./fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-Medium.woff2') format('woff2'),
      url('./fonts/Jost-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-MediumItalic.woff2') format('woff2'),
      url('./fonts/Jost-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-Regular.woff2') format('woff2'),
      url('./fonts/Jost-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-LightItalic.woff2') format('woff2'),
      url('./fonts/Jost-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-Thin.woff2') format('woff2'),
      url('./fonts/Jost-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-Light.woff2') format('woff2'),
      url('./fonts/Jost-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-Italic.woff2') format('woff2'),
      url('./fonts/Jost-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-ThinItalic.woff2') format('woff2'),
      url('./fonts/Jost-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-Bold.woff2') format('woff2'),
      url('./fonts/Jost-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-ExtraBoldItalic.woff2') format('woff2'),
      url('./fonts/Jost-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-SemiBoldItalic.woff2') format('woff2'),
      url('./fonts/Jost-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-ExtraLightItalic.woff2') format('woff2'),
      url('./fonts/Jost-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-ExtraBold.woff2') format('woff2'),
      url('./fonts/Jost-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-ExtraLight.woff2') format('woff2'),
      url('./fonts/Jost-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-Black.woff2') format('woff2'),
      url('./fonts/Jost-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-BoldItalic.woff2') format('woff2'),
      url('./fonts/Jost-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-SemiBold.woff2') format('woff2'),
      url('./fonts/Jost-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-BlackItalic.woff2') format('woff2'),
      url('./fonts/Jost-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}



